
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width", initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title> Alzheimer detection </title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<main class="wrapper">
  <section class="section parallax bg1">
    <h1>Alzheimer detection</h1>
  </section>
  <section class="section static">
  	<div class="instructions">
  	<h1> Upload your file......</h1>
  </div>
    <form action = "http://localhost:5000/hello" method = "POST"
         enctype = "multipart/form-data">
         <div class="row">
      		<div class="col-25">
     		 </div>
      		<div class="col-75">
        		<input type="file" name="mri image" placeholder="upload something...." >
        		</input>
      		</div>
           	<div class="row1">
      	      <input type="submit" value="Submit">
      	   </div>
      	</div>
  	</form>
  </section>
  <section class="section parallax bg2">
    <p>ANISH KUMAR SAHA<br/></p>
    <p>ANURAG SARKAR<br/></p>
    <p>ABHILASH SRIVASTAVA</p>
  </section>
</main>
</body>
</html>